 .u-section-1 {
  background-image: linear-gradient(#478ac9, #1acc61);
  min-height: 718px;
}

.u-section-1 .u-image-1 {
  width: 494px;
  height: 362px;
  margin: 178px calc(((100% - 1140px) / 2) + 32px) 0 auto;
}

.u-section-1 .u-group-1 {
  width: 334px;
  min-height: 239px;
  margin: -221px auto 0 calc(((100% - 1140px) / 2) + 74px);
}

.u-section-1 .u-text-1 {
  margin: 32px 20px 0;
}

.u-section-1 .u-line-1 {
  width: 57px;
  transform-origin: right center 0px;
  margin: -108px auto 107px -43px;
}

.u-section-1 .u-group-2 {
  width: 678px;
  min-height: 277px;
  height: auto;
  margin: -516px auto 0 calc(((100% - 1140px) / 2) + 31px);
}

.u-section-1 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-2 {
  font-size: 4.0625rem;
  background-image: none;
  margin: 115px 157px 0 32px;
}

.u-section-1 .u-shape-1 {
  width: 1180px;
  height: 133px;
  background-image: none;
  margin: 266px 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    width: 604px;
    margin-right: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-1 .u-group-1 {
    width: 275px;
    margin-left: calc(((100% - 1140px) / 2) + 161px);
  }

  .u-section-1 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-line-1 {
    width: 47px;
    margin-top: -188px;
    margin-bottom: 194px;
    margin-left: -38px;
  }

  .u-section-1 .u-group-2 {
    width: 591px;
    min-height: 283px;
    margin-left: calc(((100% - 1140px) / 2) + 100px);
    height: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 16px;
  }

  .u-section-1 .u-shape-1 {
    width: 909px;
    margin-top: 214px;
    margin-bottom: 1px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    width: 462px;
    height: 582px;
    margin-top: 1px;
    margin-right: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-1 .u-group-1 {
    width: 217px;
    min-height: 319px;
    margin-top: -368px;
    margin-left: calc(((100% - 1140px) / 2) + 251px);
  }

  .u-section-1 .u-text-1 {
    margin-top: 30px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-line-1 {
    width: 36px;
    margin-top: -239px;
    margin-bottom: 277px;
    margin-left: -36px;
  }

  .u-section-1 .u-group-2 {
    width: 503px;
    min-height: 195px;
    margin-top: -514px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 13px;
  }

  .u-section-1 .u-shape-1 {
    width: 708px;
    height: 145px;
    margin-top: 224px;
    margin-bottom: 48px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    width: 288px;
    height: 437px;
    margin-top: 81px;
    margin-right: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-group-1 {
    min-height: 292px;
    margin-top: -278px;
    margin-left: calc(((100% - 1140px) / 2) + 335px);
  }

  .u-section-1 .u-text-1 {
    margin-top: 32px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-line-1 {
    width: 34px;
    margin-top: -236px;
    margin-bottom: 245px;
    margin-left: -34px;
  }

  .u-section-1 .u-group-2 {
    width: 364px;
    margin-top: -496px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 9px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 51px;
    font-size: 3.75rem;
  }

  .u-section-1 .u-shape-1 {
    height: 199px;
    width: calc(((100% - 540px) / 2) + 540px);
    margin-top: 152px;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 696px;
  }

  .u-section-1 .u-image-1 {
    height: 310px;
    width: 356px;
    margin-top: 136px;
    margin-right: 0;
  }

  .u-section-1 .u-group-1 {
    width: 318px;
    min-height: 170px;
    margin-top: 40px;
    margin-right: calc(((100% - 1140px) / 2) + 400px);
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: 0;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1 .u-line-1 {
    width: 22px;
    transform-origin: left center 0;
    margin-top: -140px;
    margin-bottom: 159px;
    margin-left: -22px;
  }

  .u-section-1 .u-group-2 {
    min-height: 116px;
    width: 368px;
    margin-top: -635px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 6px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    font-size: 3rem;
  }

  .u-section-1 .u-shape-1 {
    height: 313px;
    margin-top: 246px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
} .u-section-2 {
  min-height: 833px;
  background-image: linear-gradient(#1acc61, #2cccc4);
}

.u-section-2 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 1050px);
  left: auto;
  right: 0;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1140px;
  margin: 0 auto 80px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 783px;
}

.u-section-2 .u-image-1 {
  height: 546px;
  box-shadow: 0 0 40px 0 rgba(0,0,0,0.4);
  margin: 45px auto 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 398px;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-image-2 {
  width: 312px;
  height: 119px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-1 {
  margin: -85px 92px 0 45px;
}

.u-section-2 .u-text-2 {
  margin: 63px 20px 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 463px;
}

.u-section-2 .u-image-3 {
  height: 271px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-layout-cell-4 {
  background-image: none;
  min-height: 463px;
}

.u-section-2 .u-image-4 {
  height: 271px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-layout-cell-5 {
  background-image: none;
  min-height: 463px;
}

.u-section-2 .u-image-5 {
  height: 271px;
  margin: 0 auto 0 0;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 883px;
  }

  .u-section-2 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 859px);
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
    margin-bottom: 90px;
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 646px;
  }

  .u-section-2 .u-image-1 {
    height: 450px;
    margin-top: 59px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 328px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-2 .u-image-2 {
    width: 241px;
    margin-left: -16px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -81px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: 58px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 382px;
  }

  .u-section-2 .u-image-3 {
    height: 223px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 382px;
  }

  .u-section-2 .u-image-4 {
    height: 223px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 382px;
  }

  .u-section-2 .u-image-5 {
    height: 223px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 1666px;
  }

  .u-section-2 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 658px);
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
    margin-bottom: 80px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 1649px;
  }

  .u-section-2 .u-image-1 {
    height: 1149px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-2 .u-image-2 {
    width: 244px;
    margin-left: -13px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -94px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 63px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 418px;
  }

  .u-section-2 .u-image-3 {
    height: 244px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 418px;
  }

  .u-section-2 .u-image-4 {
    height: 244px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 418px;
  }

  .u-section-2 .u-image-5 {
    height: 244px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 2592px;
  }

  .u-section-2 .u-shape-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 1237px;
  }

  .u-section-2 .u-image-1 {
    height: 862px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-2 .u-image-2 {
    width: 270px;
    margin-left: -9px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -95px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 941px;
  }

  .u-section-2 .u-image-3 {
    height: 549px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 941px;
  }

  .u-section-2 .u-image-4 {
    height: 549px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 941px;
  }

  .u-section-2 .u-image-5 {
    height: 549px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-shape-1 {
    width: 357px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 779px;
  }

  .u-section-2 .u-image-1 {
    height: 543px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-2 .u-image-2 {
    margin-left: -6px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -125px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 592px;
  }

  .u-section-2 .u-image-3 {
    height: 346px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 592px;
  }

  .u-section-2 .u-image-4 {
    height: 346px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 592px;
  }

  .u-section-2 .u-image-5 {
    height: 346px;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-3 {
  min-height: 697px;
  background-image: linear-gradient(#2cccc4, #f1c50e);
}

.u-section-3 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 1042px);
  height: 286px;
  margin: 411px 0 0 auto;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1140px;
  margin: -611px auto 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 431px;
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-3 .u-image-1 {
  width: 196px;
  height: 105px;
  margin: 27px auto 0 -20px;
}

.u-section-3 .u-text-1 {
  margin: -74px 0 0;
}

.u-section-3 .u-text-2 {
  margin: 51px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 431px;
}

.u-section-3 .u-image-2 {
  height: 378px;
  margin: 0 auto 23px 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 431px;
}

.u-section-3 .u-image-3 {
  height: 378px;
  margin: 0 auto 23px 0;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 621px;
  }

  .u-section-3 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 859px);
    height: 271px;
    margin-top: 426px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
    margin-top: -628px;
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 355px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-3 .u-image-1 {
    width: 257px;
    margin-top: 0;
    margin-left: -16px;
  }

  .u-section-3 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 355px;
  }

  .u-section-3 .u-image-2 {
    height: 312px;
    margin-bottom: 40px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-3 {
    background-position: 50% 50%;
    min-height: 355px;
  }

  .u-section-3 .u-image-3 {
    height: 312px;
    margin-bottom: 40px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 538px;
  }

  .u-section-3 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 658px);
    height: 310px;
    margin-top: 302px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
    margin-top: -543px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-3 .u-image-1 {
    width: 197px;
    margin-top: 10px;
    margin-left: -13px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 272px;
  }

  .u-section-3 .u-image-2 {
    height: 239px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 272px;
  }

  .u-section-3 .u-image-3 {
    height: 239px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 1182px;
  }

  .u-section-3 .u-shape-1 {
    height: 1320px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -1553px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-3 .u-image-1 {
    width: 270px;
    margin-top: 0;
    margin-left: -9px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -125px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 765px;
  }

  .u-section-3 .u-image-2 {
    height: 672px;
    margin-bottom: 23px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 816px;
  }

  .u-section-3 .u-image-3 {
    height: 717px;
    margin-bottom: 23px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 880px;
  }

  .u-section-3 .u-shape-1 {
    height: 1327px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -1560px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-3 .u-image-1 {
    width: 155px;
    margin-left: -6px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -74px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 482px;
  }

  .u-section-3 .u-image-2 {
    height: 423px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 514px;
  }

  .u-section-3 .u-image-3 {
    height: 451px;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-4 {
  min-height: 697px;
  background-image: linear-gradient(#f1c50e, #478ac9);
}

.u-section-4 .u-layout-wrap-1 {
  width: 1140px;
  margin: 86px auto 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 431px;
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-4 .u-image-1 {
  width: 196px;
  height: 105px;
  margin: 27px auto 0 -20px;
}

.u-section-4 .u-text-1 {
  margin: -74px 0 0;
}

.u-section-4 .u-text-2 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 431px;
}

.u-section-4 .u-image-2 {
  height: 378px;
  margin: 0 auto 23px 0;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 431px;
}

.u-section-4 .u-image-3 {
  height: 378px;
  margin: 0 auto 23px 0;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 621px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
    margin-top: 69px;
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 355px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-4 .u-image-1 {
    width: 257px;
    margin-top: 0;
    margin-left: -16px;
  }

  .u-section-4 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 355px;
  }

  .u-section-4 .u-image-2 {
    height: 312px;
    margin-bottom: 40px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-3 {
    background-position: 50% 50%;
    min-height: 355px;
  }

  .u-section-4 .u-image-3 {
    height: 312px;
    margin-bottom: 40px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 538px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-4 .u-image-1 {
    width: 197px;
    margin-top: 52px;
    margin-left: -13px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 272px;
  }

  .u-section-4 .u-image-2 {
    height: 239px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 272px;
  }

  .u-section-4 .u-image-3 {
    height: 239px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 1182px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-4 .u-image-1 {
    width: 270px;
    margin-top: 0;
    margin-left: -9px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -125px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 765px;
  }

  .u-section-4 .u-image-2 {
    height: 672px;
    margin-bottom: 23px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 816px;
  }

  .u-section-4 .u-image-3 {
    height: 717px;
    margin-bottom: 23px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 880px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-4 .u-image-1 {
    width: 155px;
    margin-left: -6px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -74px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 482px;
  }

  .u-section-4 .u-image-2 {
    height: 423px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 514px;
  }

  .u-section-4 .u-image-3 {
    height: 451px;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-5 {
  background-image: linear-gradient(#478ac9, #1acc61);
  min-height: 1183px;
}

.u-section-5 .u-image-1 {
  width: 499px;
  height: 266px;
  margin: 92px calc(((100% - 1140px) / 2) + 53px) 0 auto;
}

.u-section-5 .u-group-1 {
  width: 678px;
  min-height: 277px;
  height: auto;
  margin: -173px auto 0 calc(((100% - 1140px) / 2) + 91px);
}

.u-section-5 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-5 .u-image-2 {
  width: 446px;
  height: 633px;
  margin: -77px calc(((100% - 1140px) / 2) + 80px) 0 auto;
}

.u-section-5 .u-text-1 {
  font-size: 4.0625rem;
  background-image: none;
  margin: -579px calc(((100% - 1140px) / 2) + 532px) 0 calc(((100% - 1140px) / 2) + 119px);
}

.u-section-5 .u-group-2 {
  width: 334px;
  min-height: 239px;
  height: auto;
  margin: 32px auto 0 calc(((100% - 1140px) / 2) + 69px);
}

.u-section-5 .u-text-2 {
  margin: 32px 20px 0;
}

.u-section-5 .u-line-1 {
  width: 57px;
  transform-origin: right center 0px;
  margin: -108px auto 107px -43px;
}

.u-section-5 .u-shape-1 {
  width: 1180px;
  height: 133px;
  background-image: none;
  margin: 269px 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-image-1 {
    margin-right: calc(((100% - 940px) / 2) + 53px);
  }

  .u-section-5 .u-group-1 {
    margin-left: calc(((100% - 940px) / 2) + 91px);
    height: auto;
  }

  .u-section-5 .u-container-layout-1 {
    padding-right: 16px;
  }

  .u-section-5 .u-image-2 {
    height: 632px;
    margin-right: calc(((100% - 940px) / 2) + 80px);
  }

  .u-section-5 .u-text-1 {
    margin-top: -578px;
    margin-right: calc(((100% - 940px) / 2) + 432px);
    margin-left: calc(((100% - 940px) / 2) + 19px);
  }

  .u-section-5 .u-group-2 {
    margin-left: calc(((100% - 940px) / 2) + 69px);
    height: auto;
  }

  .u-section-5 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-5 .u-line-1 {
    width: 47px;
    margin-top: -188px;
    margin-bottom: 194px;
    margin-left: -38px;
  }

  .u-section-5 .u-shape-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-image-1 {
    margin-right: calc(((100% - 720px) / 2) + 53px);
  }

  .u-section-5 .u-group-1 {
    margin-left: calc(((100% - 720px) / 2) + 42px);
  }

  .u-section-5 .u-container-layout-1 {
    padding-right: 13px;
  }

  .u-section-5 .u-image-2 {
    margin-right: calc(((100% - 720px) / 2) + 80px);
  }

  .u-section-5 .u-text-1 {
    margin-right: calc(((100% - 720px) / 2) + 231px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-5 .u-group-2 {
    margin-left: calc(((100% - 720px) / 2) + 69px);
  }

  .u-section-5 .u-text-2 {
    margin-top: 30px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-line-1 {
    width: 36px;
    margin-top: -239px;
    margin-bottom: 277px;
    margin-left: -36px;
  }

  .u-section-5 .u-shape-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-image-1 {
    margin-right: calc(((100% - 540px) / 2) + 41px);
  }

  .u-section-5 .u-group-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-5 .u-container-layout-1 {
    padding-right: 9px;
  }

  .u-section-5 .u-image-2 {
    margin-right: calc(((100% - 540px) / 2) + 80px);
  }

  .u-section-5 .u-text-1 {
    font-size: 3.75rem;
    margin-right: calc(((100% - 540px) / 2) + 51px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-5 .u-group-2 {
    margin-left: calc(((100% - 540px) / 2) + 69px);
  }

  .u-section-5 .u-text-2 {
    margin-top: 32px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-line-1 {
    width: 34px;
    margin-top: -236px;
    margin-bottom: 245px;
    margin-left: -34px;
  }

  .u-section-5 .u-shape-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 948px;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 181px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-5 .u-group-1 {
    width: 340px;
    margin-top: -88px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-5 .u-container-layout-1 {
    padding-right: 6px;
  }

  .u-section-5 .u-image-2 {
    width: 340px;
    height: 482px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-5 .u-text-1 {
    font-size: 3rem;
    margin-top: -428px;
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-5 .u-group-2 {
    margin-left: calc(((100% - 340px) / 2) + 6px);
  }

  .u-section-5 .u-text-2 {
    margin-top: 0;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-line-1 {
    width: 22px;
    transform-origin: left center 0;
    margin-top: -140px;
    margin-bottom: 159px;
    margin-left: -22px;
  }

  .u-section-5 .u-shape-1 {
    width: 340px;
  }
}